## GENERAL CONFIGURATION
## "development" | "staging" | "production" | "test"
NODE_ENV=development

## WEB CONFIGURATION
WEB_PORT=3000
GITHUB_TOKEN=your_github_token
RESEND_API_KEY=your_resend_api_key
CONTACT_FROM_EMAIL=your_contact_email
CONTACT_TO_EMAIL=your_contact_email
NEXT_PUBLIC_BASE_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:3001

## API CONFIGURATION
API_PORT=3001

## DB CONFIGURATION
DB_HOST=your_db_host
DB_PORT=your_db_port
DB_DATABASE=your_db_name
DB_USERNAME=your_db_user
DB_PASSWORD=your_db_pass
