@import "@repo/design-system/globals.css";
@plugin "tailwind-scrollbar";

@source "../";

@theme inline {
    --font-sans: var(--font-space-grotesk);
    --font-mono: var(--font-space-mono);

    --animate-move: move 5s ease-in-out;

    --breakpoint-massive: 1600px;
}

@layer base {
    ::selection {
        background: var(--color-primary-700);
        color: var(--color-text-100);
    }
    *:focus-visible {
        outline: none;
        box-shadow:
            0 0 0 2px var(--color-background),
            0 0 0 4px var(--color-primary-400);
        transition: all 300ms ease-in-out;
    }
}

@keyframes move {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(-90px, 10px);
    }
    50% {
        transform: translate(-120px, 50px);
    }
    75% {
        transform: translate(-60px, 60px);
    }
    100% {
        transform: translate(0, 0);
    }
}

@media (min-width: 1280px) {
    @keyframes move {
        0% {
            transform: translate(0, 0);
        }
        25% {
            transform: translate(-90px, 35px);
        }
        50% {
            transform: translate(-120px, 50px);
        }
        75% {
            transform: translate(-60px, 60px);
        }
        100% {
            transform: translate(0, 0);
        }
    }
}
