@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

html {
    scroll-behavior: smooth !important;
}

::selection {
    color: white;
}
